!.gitignore
*.a
*.exe
*.la
*.lo
*.log
*.m4
*.o
*.pc
config.h*
config.guess
config.status
config.sub

Makefile
Makefile.in

.dirstamp
.deps/
.libs/

/autom4te.cache/
/_install/
/configure
/configure~
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
